.black{
	color: $cblack !important;
	svg{
		color: $cblack !important;
	}
}
.gray{
	color: $cmain !important;
	svg{
		color: $cmain !important;
	}
}
.blue{
	color: $cinfo !important;
	svg{
		color: $cinfo !important;
	}
}
.orange{
	color: $cwarning !important;
	svg{
		color: $cwarning !important;
	}
}
.red{
	color: $cdanger !important;
	svg{
		color: $cdanger !important;
	}
}
.green{
	color: $csuccess !important;
	svg{
		color: $csuccess !important;
	}
}
a{
	&.black{
		svg{
			color: $cblack !important;
		}
		&:hover{
			color: $cbase !important;
			svg{
				color: $cbase !important;
			}
		}
	}
	&.gray{
		svg{
			color: $cgray !important;
		}
		&:hover{
			color: $cbase !important;
			svg{
				color: $cbase !important;
			}
		}
	}
	&.blue{
		svg{
			color: $cinfo !important;
		}
		&:hover{
			color: $cbase !important;
			svg{
				color: $cbase !important;
			}
		}
	}
	&.orange{
		svg{
			color: $cwarning !important;
		}
		&:hover{
			color: $cbase !important;
			svg{
				color: $cbase !important;
			}
		}
	}
	&.red{
		svg{
			color: $cdanger !important;
		}
		&:hover{
			color: $cbase !important;
			svg{
				color: $cbase !important;
			}
		}
	}
	&.green{
		svg{
			color: $csuccess !important;
		}
		&:hover{
			color: $cbase !important;
			svg{
				color: $cbase !important;
			}
		}
	}
}
.mask {
	mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.trans-2 {
	transition: all .2s ease;
}

.trans-all-2 * {
	transition: all .2s ease;

	&:before,
	&:after {
		transition: all .2s ease;
	}
}

.trans-3 {
	transition: all .3s ease;
}

.trans-all-3 * {
	transition: all .3s ease;

	&:before,
	&:after {
		transition: all .3s ease;
	}
}

.trans-4 {
	transition: all .4s ease;
}

.trans-all-4 * {
	transition: all .4s ease;

	&:before,
	&:after {
		transition: all .4s ease;
	}
}

.trans-5 {
	transition: all .5s ease;
}

.trans-all-5 * {
	transition: all .5s ease;

	&:before,
	&:after {
		transition: all .5s ease;
	}
}

.trans-no {
	transition: none;
}

.trans-no-all * {
	transition: none;

	&:before,
	&:after {
		transition: none;
	}
}

ul.no-list {
	margin: 0;
	padding: 0;
	list-style: none;

	ul,
	ol,
	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

ol.no-list {
	margin: 0;
	padding: 0;
	list-style: none;

	ol,
	ul,
	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.no-select,
.no-select-all * {
	user-select: none;
}

.blur_container{
	height: 100vh;
	background: url('../../themes/images/no_image.jpg') fixed no-repeat;
	background-size: cover;
	.blur{
		padding: 50px;
		background: inherit;
		overflow: hidden;
		&:before{
			display: block;
			position: absolute;
			content: "";
			top: -25px;
			left: -25px;
			bottom: -25px;
			right: -25px;
			background: inherit;
			box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
			filter: blur(10px);
		}
	}
}
body.eng,
body.rus{
	.uppercase{
		text-transform: uppercase;
	}
}

.mb-0{
	margin-bottom: 0;
}
