*,
*:before,
*:after{
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
}

@-ms-viewport{
	width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
header,
footer,
hgroup,
main,
nav,
section{
	display: block;
}

[tabindex="-1"]:focus{
	outline: none !important;
}

hr{
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	border-color: #eee;
}

abbr[title],
abbr[data-original-title]{
	text-decoration: underline;
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0;
}

address{
	margin-bottom: 1rem;
	font-style: normal;
	line-height: 1.5;
}

ol,
ul,
dl{
	margin-top: 0;
	margin-bottom: 1rem;
}

dd{
	margin-bottom: .5rem;
	margin-left: 0;
}

blockquote{
	margin: 0 0 1rem;
}

// Add the correct font style in Android 4.3-
dfn{
	font-style: italic;
}

b,
strong{
	font-weight: bold;
}

small{
	font-size: 80%;
}

sub,
sup{
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub{
	bottom: -.25em;
}

sup{
	top: -.5em;
}

a:not([href]):not([tabindex]){
	color: inherit;
	text-decoration: none;

	&:focus{
		outline: 0;
	}
}

pre,
code,
kbd,
samp{
	font-family: monospace, monospace;
	font-size: 1em;
}

pre{
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
}

figure{
	margin: 0;
}

svg:not(:root){
	overflow: hidden;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea{
	touch-action: manipulation;
}

table{
	border-collapse: collapse;
}

caption{
	text-align: left;
	caption-side: bottom;
}

th{
	text-align: left;
}

input,
button,
select,
optgroup,
textarea{
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5;
}

button,
input{
	overflow: visible;
}

button,
select{
	text-transform: none;
}

button,
html[type="button"],
[type="reset"],
[type="submit"]{
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
	padding: 0;
	border-style: none;
}

input[type="radio"],
input[type="checkbox"]{
	box-sizing: border-box;
	padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"]{
	-webkit-appearance: listbox;
}

textarea{
	overflow: auto;
	resize: vertical;
}

fieldset{
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend{
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-bottom: .5rem;
	font-size: 1.5rem;
	line-height: 1.5;
	color: inherit;
	white-space: normal;
}

progress{
	vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{
	height: auto;
}

[type="search"]{
	outline-offset: -2px;
	-webkit-appearance: none;
}

// Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{
	-webkit-appearance: none;
}

::-webkit-file-upload-button{
	font: inherit;
	-webkit-appearance: button;
}

output{
	display: inline-block;
}

summary{
	display: list-item;
}

template{
	display: none;
}

[hidden]{
	display: none !important;
}

blockquote,
q{
	quotes: none;

	&:before,
	&:after{
		content: '';
	}
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6{
	line-height: 1.5;
}

time{
	display: block;
}

ul{
	margin: 10px 10px 10px 25px;
	padding: 0;
	list-style: disc;

	ul{
		margin: 10px 10px 10px 25px;
		padding: 0;
		list-style: disc;
	}
}

ol{
	margin: 10px 10px 10px 25px;
	padding: 0;
	list-style-type: decimal;

	ol{
		margin: 10px 10px 10px 25px;
		padding: 0;
		list-style-type: decimal;
	}
}

img{
	height: auto;
	max-width: 100%;
	vertical-align: top;
	border-style: none;
}

p{
	margin-bottom: 10px;
}

input,
label,
select,
button,
textarea{
	margin: 0;
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
	font-size: 12px;
	font-family: "NotoPenekeko";
	outline: none;
	box-shadow: none;
}

input:focus{
	outline: 0;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
select{
	overflow: visible;
	width: auto;
	box-sizing: border-box;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
button.gilaki{
	width: 100%;
	height: 40px;
	padding: 0;
	color: #353535;
	background-color: #f8f8f8;
}

.gilaki{
	cursor: pointer;
	&:hover{
		color: #fff;
		background-color: #353535;
	}
}

input[type="checkbox"],
input[type="radio"]{
	width: 15px;
	height: 15px;
}

::-webkit-search-decoration{
	display: none;
}

::-webkit-file-upload-button{
	padding: 0;
	border: 0;
	background: none;
}

textarea{
	height: auto;
	padding: 15px;
	vertical-align: top;
	line-height: 1.5;
	overflow: auto;
	resize: none;
}

select[multiple]{
	vertical-align: top;
}

button{
	width: auto;
}

::placeholder{
	color: #a3a3a3;
	font-size: 12px;
	font-family: "NotoPenekeko";
	opacity: 1;
}

label{
	display: block;
	margin-bottom: 10px;
	margin-left: 5px;
	font-weight: normal;
	line-height: 1.5;
	cursor: pointer;
}

.artform_wrap{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #f8f8f8;
	cursor: pointer;

	&.artradio{
		border-radius: 50%;

		&:before{
			display: block;
			position: absolute;
			content: "";
			width: 8px;
			height: 8px;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%) scale(0);
			background-color: #fff;
			border-radius: 50%;
			opacity: 0;
			transition: all 0.4s ease;
		}

		&.checked{
			background-color: #a3a3a3;

			&:before{
				transform: translate(-50%,-50%) scale(1);
				opacity: 1;
			}
		}

		&.disabled{
			background-color: #fff;
			border: 1px solid #f8f8f8;

			input[type="radio"]{
				cursor: not-allowed;
			}

			&.checked{
				&:before{
					background-color: #f8f8f8;
					transform: translate(-50%,-50%) scale(1);
					opacity: 1;
				}
			}
		}

		input[type="radio"]{
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}
	}

	&.artchecker{
		border: 1px solid transparent;
		border-radius: 3px;

		&:before,
		&:after{
			position: absolute;
			content: "";
			width: 6px;
			height: 2px;
			left: 3px;
			top: 10px;
			transform: rotate(45deg);
			background-color: #fff;
			transition: all 0.4s ease;
			opacity: 0;
		}

		&:after{
			width: 10px;
			left: auto;
			top: 8px;
			right: 2px;
			transform: rotate(-45deg);
		}

		&.checked{
			background-color: #a3a3a3;
			&:before,
			&:after{
				opacity: 1;
			}
		}

		input[type="checkbox"]{
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}

		&.disabled{
			background-color: #fff;
			border: 1px solid #f8f8f8;

			input[type="checkbox"]{
				cursor: not-allowed;
			}

			&.checked{
				&:before,
				&:after{
					background-color: #f8f8f8;
					opacity: 1;
				}
			}
		}
	}
}

select{
	width: 100%;
}

span.select2{
	span.selection{
		span.select2-selection{
			height: 40px;
			background-color: #f8f8f8;
			border: none;
			border-radius: 5px;

			span.select2-selection__rendered{
				height: 100%;
				padding-left: 15px;
				padding-right: 30px;
				color: #777;
				line-height: 40px;
				vertical-align: middle;

				span.select2-selection__placeholder{
					color: #777;
				}

				span.select2-selection__clear{
					color: #777;
					font-size: 20px;
				}
			}

			span.select2-selection__arrow{
				width: 30px;
				height: 100%;
				top: 0;
				right: 0;

				&:before,
				&:after{
					display: block;
					position: absolute;
					content: "";
					width: 7px;
					height: 2px;
					left: 50%;
					top: 50%;
					background-color: #777;
					transform: translate(-50%,-50%) rotate(45deg);
				}

				&:before{
					margin-left: -4px;
				}

				&:after{
					transform: translate(-50%,-50%) rotate(-45deg);
				}

				b{
					display: none;
				}
			}
		}
	}

	&.select2-container--open{
		span.selection{
			span.select2-selection{
				border-bottom-color: transparent;
				span.select2-selection__arrow{
					&:before{
						transform: translate(-50%,-50%) rotate(-45deg);
					}

					&:after{
						transform: translate(-50%,-50%) rotate(45deg);
					}
				}
			}
		}
	}
}

span.select2-container{
	span.select2-dropdown{
		background-color: #f8f8f8;
		border: none;
		box-shadow: 0 5px 30px 0 rgba(#000, .1);

		span.select2-results{
			ul{
				li{
					&.select2-results__option--highlighted{
						background-color: #777;
					}
				}
			}
		}
	}
}

.file_uploader{
	input[type="file"]{
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		opacity: 0;
	}

	label{
		height: 40px;
		color: #353535;
		background-color: #f8f8f8;
		border-radius: 3px;

		span{
			display: flex;
			align-items: center;
			position: absolute;
			left: 0;
			top: 0;
			right: 90px;
			bottom: 0;
			padding-left: 15px;
			color: #a3a3a3;
		}

		strong{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			position: absolute;
			width: 90px;
			height: 100%;
			top: 0;
			right: 0;
			color: #fff;
			font-weight: normal;
			background-color: #777;
			border-radius: 0 3px 3px 0;
		}
	}
}
