div.content{
	div.gallery_images{
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(4, 1fr);
		@media(max-width: 768px){
			grid-template-columns: repeat(2, 1fr);
		}
		@media(max-width: 576px){
			grid-template-columns: 100%;
		}
		figure{
			a{
				display: block;
				position: relative;
				border-radius: $bdrm;
				overflow: hidden;
				&:before{
					@extend .flex;
					position: absolute;
					content: "\f2db";
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					color: $cbase;
					font-size: 20px;
					font-family: $ffremix;
					background-color: rgba($cwhite, 0.9);
					z-index: 1;
					opacity: 0;
					transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
				}
				&:hover{
					&:before{
						opacity: 1;
					}
				}
				img{
					width: 100%;
				}
			}
		}
	}
}