div.content{
	div.gallery_albums{
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(2, 1fr);
		@media(max-width: 576px){
			grid-template-columns: 1fr;
		}
		figure{
			a{
				display: block;
				margin-bottom: 10px;
				overflow: hidden;
				border-radius: $bdrm;
				&:hover{
					opacity: 0.7;
				}
				img{
					width: 100%;
				}
			}
			figcaption{
				color: $cbase;
				font-size: 16px;
				font-family: $ffmain;
				font-weight: 700;
				text-align: center;
				text-transform: uppercase;
				@media(max-width: 768px){
					font-size: 14px;
				}
			}
		}
	}
}