nav.tree_menu{
	> ul{
		@extend .no-list;
		> li{
			margin-right: 15px;
			margin-bottom: 5px;
			> a{
				display: block;
				color: $cbase;
			}
			ul{
				@extend .no-list;
				display: none;
				margin-left: 20px;
				li{
					position: relative;
					&:before{
						@extend .trans-4;
						display: block;
						position: absolute;
						content: "";
						width: 10px;
						height: 1px;
						left: 0;
						top: 15px;
						opacity: 0.5;
					}
					a{
						@extend .trans-all-4;
						display: block;
						padding: 5px 0;
						color: $cread;
						opacity: 0.5;
					}
					&.active,
					&:hover{
						> a{
							opacity: 1;
						}
					}
					ul{
						margin-left: 20px;
					}
				}
			}
			span.tree_indicator{
				display: block;
				position: absolute;
				width: 15px;
				height: 15px;
				top: 15px;
				right: 0;
				cursor: pointer;
				&:before,
				&:after{
					@extend .trans-4;
					display: block;
					position: absolute;
					content: "";
					width: 8px;
					height: 1px;
					left: 0;
					top: -2px;
					background-color: $cbase;
				}
				&.tree_plus{
					&:before{
						left: -3px;
						transform: rotate(45deg);
					}
					&:after{
						left: 3px;
						transform: rotate(-45deg);
					}
				}
				&.tree_minus{
					&:before{
						left: -3px;
						transform: rotate(-45deg);
					}
					&:after{
						left: 3px;
						transform: rotate(45deg);
					}
				}
			}
			&.active{
				ul{
					display: block;
				}
			}
		}
	}
}