div.list{
	> ul{
		@extend .no-list;
		@extend .trans-no-all;
		> li{
			margin-bottom: 5px;
			span.icon{
				display: block;
				position: absolute;
				left: 18px;
				top: 13px;
				cursor: pointer;
				z-index: 3;
				svg{
					width: 15px;
					color: $cmain;
				}
			}
			div.title_links{
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				height: 50px;
				padding: 0 20px 0 40px;
				background-color: $clight;
				border: 1px solid $cline;
				border-radius: 5px;
				z-index: 2;
				@media(max-width: 992px){
					flex-direction: column;
					align-items: flex-start;
					height: 80px;
					padding-top: 10px;
					padding-bottom: 10px;
				}
				div.menu_title{
					a{
						color: $cbase;
						transition: color 0.2s ease;
						&:hover{
							color: $ccorp;
						}
					}
				}
				div.menu_links{
					ul{
						@extend .no-list;
						@extend .trans-all-4;
						display: flex;
						align-items: center;
						justify-content: flex-end;
						@media(max-width: 992px){
							flex-wrap: wrap;
							flex-direction: row-reverse;
						}
						li{
							display: flex;
							align-items: center;
							margin-left: 10px;
							color: $cmain;
							@media(max-width: 992px){
								margin-left: 0;
								margin-right: 10px;
							}
							&:first-child{
								margin-left: 0;
							}
							&:last-child{
								@media(max-width: 992px){
									margin-right: 0;
								}
							}
							svg{
								width: 15px;
								height: 15px;
								color: $cgray;
							}
							a{
								@extend .flex;
								width: 20px;
								height: 20px;
							}
							&.page{
								a{
									svg{
										color: $cmain;
									}
								}
							}
							&.copy_link{
								a{
									background-color: transparent;
									svg{
										color: $cprimary;
									}
								}
							}
							&.sub_menu{
								a{
									svg{
										color: $cinfo;
									}
								}
							}
							&.visible{
								a{
									svg{
										color: $csuccess;
									}
								}
							}
							&.hidden{
								a{
									svg{
										color: $csecondary;
									}
								}
							}
							&.edit{
								a{
									svg{
										color: $cwarning;
									}
								}
							}
							&.delete{
								a{
									svg{
										color: $cdanger;
									}
								}
							}
							&:hover{
								a{
									svg{
										color: $cbase;
									}
								}
							}
							&.type{
								width: 100px;
							}
							&.position{
								width: 50px;
							}
						}
					}
				}
			}
			ul{
				margin: 0 0 0 40px;
				padding-top: 5px;
				@media(max-width: 992px){
					margin: 0 0 0 20px;
				}
			}
			&:hover{
				> div.title{
					border-color: $cgray;
				}
			}
			&.ui-state-highlight{
				height: 50px;
				margin-bottom: 5px;
				border: 2px dashed $cgray;
			}
		}
	}
}