section.login_wrap{
	@extend .flex;
	height: 100vh;
	@media(max-width: 768px){
		display: block;
	}
	div.login{
		display: flex;
		height: 440px;
		margin: 30px 0;
		background-color: $cwhite;
		border-radius: 5px;
		box-shadow: 0 10px 25px rgba($cblack, 0.05);
		@media(max-width: 768px){
			flex-direction: column;
			height: auto;
			margin: 0;
			border-radius: 0;
			box-shadow: none;
		}
		div.logo_lang{
			@extend .flex;
			flex-direction: column;
			width: 240px;
			background-color: $ccorp;
			border-radius: 5px 0 0 5px;
			@media(max-width: 768px){
				flex: 1;
				width: auto;
				border-radius: 0;
			}
			div.logo{
				margin-top: 25px;
				margin-bottom: 25px;
				@media(max-width: 768px){
					margin-bottom: 20px;
				}
				svg{
					width: 140px;
					height: 110px;
					fill: none;
					stroke-linecap: round;
					@media(max-width: 768px){
						width: 100px;
						height: auto;
					}
					g{
						path{
							stroke: $cwhite;
							stroke-width: 1.7;
							transition: all 1s ease-out;
						}
					}
				}
			}
			div.lang{
				margin-bottom: 70px;
				ul{
					@extend .no-list;
					display: flex;
					li{
						margin: 0 5px 10px;
						a{
							@extend .flex;
							width: 35px;
							height: 35px;
							color: rgba($cwhite, 0.6);
							font-size: 11px;
							text-transform: uppercase;
							border-radius: 50%;
							border: 1px dashed rgba($cwhite,  0);
							&:hover{
								color: rgba($cwhite, 0.9);
							}
						}
						&.active{
							a{
								color: rgba($cwhite, 0.9);
								border-color: rgba($cwhite,  0.4);
							}
						}
					}
				}
			}
			div.artmedia{
				position: absolute;
				left: 50%;
				bottom: 30px;
				transform: translateX(-50%);
				color: rgba($cwhite, 0.4);
				font-size: 10px;
				text-align: center;
				span{
					display: block;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translate(-17px,-10px);
				}
				a{
					svg{
						width: 108px;
						height: 20px;
						fill: none;
						stroke: rgba($cwhite, 0.8);
						stroke-width: 1.5;
						transition: all 0.4s ease;
					}
					&:hover{
						svg{
							stroke: $cwhite;
						}
					}
				}
			}
		}
		div.login_form{
			flex: 1;
			display: flex;
			align-items: center;
			padding: 40px;
			@media(max-width: 576px){
				padding: 25px;
			}
			@media(max-width: 768px){
				width: auto;
			}
			form{
				width: 100%;
				padding-top: 40px;
				@media(max-width: 768px){
					padding-top: 0;
				}
				div.form_item{
					width: 350px;
					@media(max-width: 768px){
						width: 100%;
					}
				}
			}
		}
	}
}