div.media_manager{
	display: flex;
	div.media_manager_left{
		flex: 1;
		div.form_upload{
			@extend .flex;
			height: 150px;
			margin-bottom: 20px;
			background-color: $clight;
			border: 3px dashed transparent;
			border-radius: 5px;
			cursor: pointer;
			overflow: hidden;
			> input.file-input {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				opacity: 0;
				cursor: pointer;
				z-index: 5;
			}
			div.upload_progress{
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 5px;
				background-color: $ccorp;
			}
			div.form_upload_cloud{
				color: $ccorp;
				text-align: center;
				div.form_upload_icon{
					em{
						width: 30px;
					}
				}
				div.form_upload_texts{
					color: $cbase;
					span{
						display: block;
						color: $cread;
					}
				}
			}
			&.is-dragover{
				background-color: $cwhite;
				border-color: $ccorp;
				div.form_upload_cloud{
					opacity: 0;
				}
			}
		}
		div.add_search{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			margin-bottom: 20px;
			@media(max-width: 576px){
				flex-direction: column;
			}
			div.add{
				@media(max-width: 576px){
					width: 100%;
					margin-bottom: 15px;
				}
				a{
					display: flex;
					justify-content: center;
					height: 40px;
					margin: 0;
					background-color: $csuccess;
					@media(max-width: 576px){
						padding: 0 15px;
					}
					&:hover{
						background-color: $cmain;
					}
					&:focus{
						color: $cwhite;
					}
					span{
						flex: none;
					}
				}
			}
			div.delete_search{
				display: flex;
				align-items: center;
				@media(max-width: 576px){
					width: 100%;
					justify-content: flex-end;
				}
				div.delete{
					display: none;
					margin-right: 15px;
					@media(max-width: 576px){
						order: 1;
						margin-right: 0;
					}
					a{
						display: block;
						height: 23px;
						color: $cdanger;
						svg{
							width: 20px;
						}
						&:hover{
							svg{
								color: $cmain;
							}
						}
					}
				}
				div.search{
					@media(max-width: 576px){
						order: 3;
					}
					input[type="search"]{
						width: 200px;
						padding-right: 35px;
						@media(max-width: 576px){
							width: 150px;
							margin-left: 15px;
						}
					}
					button[type="submit"]{
						position: absolute;
						top: 50%;
						right: 10px;
						transform: translateY(-50%);
						cursor: pointer;
						svg{
							width: 20px;
							color: $ccorp;
						}
						&:hover{
							svg{
								color: $cmain;
							}
						}
					}
				}
				div.toggle_params{
					display: none;
					margin-left: 15px;
					@media(max-width: 576px){
						order: 2;
					}
					@media(max-width: 992px){
						display: block;
					}
					a{
						display: block;
						height: 23px;
						color: $ccorp;
						svg{
							width: 20px;
						}
						&:hover{
							svg{
								color: $cmain;
							}
						}
					}
				}
			}
		}
		div.uploaded_files{
			ul{
				@extend .no-list;
				display: grid;
				grid-gap: 15px;
				grid-template-columns: repeat(8, calc(12.5% - 13px));
				@media(max-width: 1800px){
					grid-template-columns: repeat(6, calc(16.5% - 11px));
				}
				@media(max-width: 1480px){
					grid-template-columns: repeat(4, calc(25% - 12px));
				}
				@media(max-width: 768px){
					grid-template-columns: repeat(3, calc(33% - 8px));
				}
				@media(max-width: 576px){
					grid-template-columns: repeat(2, calc(50% - 7.5px));
				}
				li{
					padding: 5px 5px 10px;
					figure{
						margin-bottom: 10px;
						padding-top: 75%;
						overflow: hidden;
						border-radius: 3px;
						img{
							position: absolute;
							left: 50%;
							top: 50%;
							max-height: 100%;
							transform: translate(-50%, -50%);
						}
						svg{
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							color: $cread;
							opacity: 0;
						}
					}
					div.link_edit_delete{
						display: flex;
						position: absolute;
						top: 20px;
						right: 20px;
						opacity: 0;
						@media(max-width: 576px){
							top: 15px;
							right: 15px;
						}
						a{
							@extend .flex;
							margin-left: 5px;
							width: 20px;
							height: 20px;
							color: $cwhite;
							border-radius: 50%;
							&:first-child{
								margin-left: 0;
							}
							&.edit{
								background-color: $ccorp;
							}
							&.delete{
								background-color: $cdanger;
							}
							&:hover{
								background-color: $cbase;
							}
							svg{
								width: 10px;
								height: 10px;
							}
						}
					}
					div.uploaded_title_wrap{
						padding: 0 5px;
						color: $cmain;
						font-size: 10px;
					}
					&:hover{
						figure{
							img{
								opacity: 0.1;
							}
							svg{
								opacity: 1;
							}
						}
						div.link_edit_delete{
							opacity: 1;
						}
					}
					&.ui-selected{
						box-shadow: 0px 0px 0px 3px $ccorp;
						figure{
							img{
								opacity: 0.1;
							}
							svg{
								color: $ccorp;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	div.media_manager_right{
		@extend .trans-no;
		width: 250px;
		margin-left: 20px;
		@media(max-width: 992px){
			display: none;
			position: absolute;
			width: 280px;
			left: 50%;
			top: 0px;
			margin: 0;
			transform: translateX(-50%);
			padding: 20px;
			background-color: $cwhite;
			border-radius: 5px;
			box-shadow: 0 10px 25px rgba($cblack, 0.5);
			z-index: 6;
		}
		&.visible{
			display: block;
		}
		div.close{
			display: none;
			position: absolute;
			width: 30px;
			height: 30px;
			top: -30px;
			right: 20px;
			border-radius: 5px 5px 0 0;
			background-color: $cwhite;
			@media(max-width: 992px){
				display: block;
			}
			a{
				@extend .flex;
				width: 100%;
				height: 100%;
				color: $cdanger;
			}
		}
		div.sort{
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid $cline;
			span.select2{
				width: 100% !important;
				margin-bottom: 15px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		div.size_watermark{
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			div.size{
				flex: 1;
				span.select2{
					width: 100% !important;
				}
			}
			div.watermark{
				display: flex;
				width: 100px;
				margin-left: 15px;
				label{
					margin-left: 7px;
					margin-bottom: 0;
					color: $cmain;
				}
			}
		}
		div.folders{
			ul{
				@extend .no-list;
				padding-bottom: 15px;
				li{
					@extend .trans-no-all;
					padding: 5px 0;
					&:last-child{
						padding-bottom: 0;
						border-bottom: none;
					}
					a.folder_link{
						display: flex;
						color: $cmain;
						svg{
							width: 17px;
							margin-right: 8px;
							fill: transparent;
							stroke: $cgray;
							stroke-width: 1px;
						}
						span{
							color: $cbase;
							font-size: 10px;
							padding-top: 5px;
						}
					}
					a.folder_delete{
						position: absolute;
						top: 4px;
						right: 0;
						color: $cdanger;
						opacity: 1;
						&.is-disabled{
							pointer-events: none;
							opacity: .4;
						}
						& + .folder_link{
							margin-right: 25px;
						}
						svg{
							width: 15px;
							fill: transparent;
						}
						&:hover{
							svg{
								fill: $cdanger;
							}
						}
					}
					ul{
						margin-left: 25px;
						padding: 5px 0 0 0;
						li{
							border-bottom: none;
						}
					}
					&:hover{
						> a.folder_link{
							svg{
								fill: $ccorp;
								stroke: $ccorp;
							}
							strong{
								color: $cwhite;
							}
							span{
								color: $cmain;
							}
						}
					}
					&.active{
						> a.folder_link{
							svg{
								fill: $ccorp;
								stroke: $ccorp;
							}
							strong{
								color: $cwhite;
							}
							span{
								color: $ccorp;
							}
						}
					}
					&.ui-state-highlight{
						height: 25px;
						border: 1px dashed $cread;
						border-radius: 5px;
					}
				}
			}
			> ul{
				> li{
					> a.folder_link{
						> svg{
							fill: $cread;
							stroke: $cread;
						}
					}
				}
			}
		}
		div.new_folder{
			display: flex;
			flex-direction: column;
			input[type="text"]{
				margin-bottom: 15px;
			}
			span.select2{
				width: 100% !important;
				margin-bottom: 15px;
			}
			button.gilaki{
				justify-content: center;
				margin: 0;
				color: $cbase;
				text-align: center;
				background-color: $clight;
				&:hover{
					color: $cwhite;
					background-color: $ccorp;
				}
			}
		}
	}
}
